In [3]:
# add list of high schools name
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

# print each school name using for loop
for i in high_schools:
    print(i)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [4]:
#add list of dictionary contain high school and type of school
high_school_type = list()
high_school_type = [
                    {"High School": "Griffin", "Type": "District"},
                    {"High School": "Figueroa", "Type": "Districr"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}
                    ]
print(high_school_type)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'Districr'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [5]:
#import dependency: pandas series
import pandas as pd

# add list of high schools name
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

#create a Pandas Series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
#list of dictionary of high schools
high_school_dicts = [
                    {"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}
                    ]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [7]:
#convert list or series to DataFrame
# 3 separate list of information on high school
school_id = [0,1,2,3,4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

#initialize a new DataFrame
schools_df = pd.DataFrame()

#add list to new DataFrame
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["type"] = type_of_school
schools_df

   School ID            School Name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
#convert dictionary to DataFrame
#initialize a dictionary
schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
schools_dict
school_dict_df = pd.DataFrame(schools_dict)
school_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
#dataframe columns attribute
schools_df.columns

#index attribute
schools_df.index

#value attribute
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [10]:

schools_name = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

schools_id = []
for i in range(len(schools_name)):
    schools_id.append(i)
print(schools_id)

schools_type = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "District"]

shccols_name_df = {"ID":schools_id, "School Name":schools_name, "Type":schools_type}
pd.DataFrame(shccols_name_df)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

    ID            School Name      Type
0    0      Huang High School  District
1    1   Figueroa High School  District
2    2    Shelton High School   Charter
3    3  Hernandez High School  District
4    4    Griffin High School   Charter
5    5     Wilson High School   Charter
6    6    Cabrera High School   Charter
7    7     Bailey High School  District
8    8     Holden High School   Charter
9    9       Pena High School   Charter
10  10     Wright High School   Charter
11  11  Rodriguez High School  District
12  12    Johnson High School  District
13  13       Ford High School  District
14  14     Thomas High School  District

In [12]:
#import Data file using pandas function
student_data_path = "Resources/students_complete.csv"
schools_data_path = "Resources/schools_complete.csv"

student_file = pd.read_csv(student_data_path)
schools_file = pd.read_csv(schools_data_path)

#import Data file on python using OS function
import os
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")